<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Funcionalidades Lumini</li>
  </ol>
</nav>
<div class="container">
  <div>
    <h2>Buscar endereço por CNPJ</h2>
    <p>CPNJ: <input mask="CPF_CNPJ" required [(ngModel)]="cnpjModel"> &nbsp;<button [disabled]="!cnpjModel || !isValid()" (click)="getAddresByCnpj(cnpjModel)"  style="height: 34px;" type="button" class="btn btn-primary">Buscar</button><button *ngIf="!!adreesResponse" (click)="cleanAddress()"  style="height: 34px;" type="button" class="btn btn-danger">Limpar</button></p>
    <br>
    <div *ngIf="!!adreesResponse">
      <p><label>Logradouro: </label> <span>&nbsp;{{adreesResponse.logradouro}}</span></p>
      <p><label>Bairro: </label> <span>&nbsp;{{adreesResponse.bairro}}</span></p>
      <p><label>Cidade: </label> <span>&nbsp;{{adreesResponse.cidade}}</span></p>
      <p><label>CEP: </label> <span>&nbsp;{{adreesResponse.cep}}</span></p>
    </div>
  </div>
  <br>
  <h2>Calcular média entre valores</h2>
  <p>Valor A: <input type="number" [(ngModel)]="valorA">
    Valor B: <input type="number" [(ngModel)]="valorB">
  </p>
  <p [hidden]="!average"><label>Sua média é: </label><span> &nbsp;{{average}}</span></p>
  <button [disabled]="!valorA || !valorB" (click)="calculateAverage()" style="height: 34px;" type="button" class="btn btn-primary">Buscar</button>
  <button *ngIf="average" (click)="clearAverege()" style="height: 34px;" type="button" class="btn btn-danger">Limpar</button>
</div>
